@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 20px auto;
  padding: 0;
  background-color: hsl(217, 54%, 11%);
}

.card {
  margin: 0 auto;
  padding: 20px 20px 10px 20px;
  width: 300px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 16px;
}

picture {
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 2s;
}

picture img {
  width: 100%;
  border-radius: 8px;
}

picture:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 260px;
  height: 260px;
  border-radius: 8px;
  background: hsla(178, 100%, 50%, 0.6);
  background-image: url(/images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  top: 0;
  cursor: pointer;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.title:hover {
  color: hsl(178, 100%, 50%);
}

.paragraph-description {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.date-description {
  display: flex;
  justify-content: space-between;
}

.footer-paragraph {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 4px;
  color: hsl(215, 51%, 70%);
}

.price {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.date {
  color: hsl(215, 51%, 70%);
  font-size: 14px;
}

footer {
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 1px solid hsl(215, 32%, 27%);
}

footer img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}

.footer-description {
  display: flex;
  align-items: center;
}

.footer-user {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  text-decoration: none;
}

.footer-user:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
